extends ../layout

block scripts
  script(src="/public/scripts/index.js") 
  script.
    const data ={ features: !{JSON.stringify(geoData).replace(/<\//g, "<\\/")}} 
    const mapTilerApiKey = '#{mapTilerApiKey}';
  script(src="/public/scripts/mapLibreGL.js" defer)
  
block content
  <div id='map' style='width: 100%; height: 300px;'></div>
  .columns.is-multiline.is-3
    each camp in campgrounds
      div(class="card column is-one-third")
        a(href='/campgrounds/'+camp.id)
          div(class="card-image") 
            figure(class="image is-4by3")
              img(style="object-fit: cover" src=`${camp.images && camp.images[0] ? camp.images[0].url: 'https://res.cloudinary.com/dwz8ueclf/image/upload/v1664168545/kk1t6wh2dutx4vnuqsje.png'}`, alt=camp.title+"image")
          div(class="card-content") 
            h1=camp.title 
        div(class="content")   
          p=camp.description